// カラー
$color-base: rgba(0, 0, 0, 0.65);
$color-grey: #707070;
$color-grey2: #f8f8f8;
$color-white: #fff;

$color-site: rgb(10, 171, 177);
$color-site1: rgb(33, 166, 170);
$color-site2: rgb(126, 226, 230);
$color-site3: rgba(157, 234, 236, 0.342);

// レスポンシブ
$break-point-sp: 480px
